.third {
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    font-size: 16px;
    line-height: 4ch;
    margin-bottom: 3em;
}

.third-head {
    margin: 4em 0;
    text-align: center;
    line-height: 3ch;
}

.third-head span {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: .1875em;
    text-underline-offset: .25em;
}

.third-flex {
    display: flex;
    justify-content: center;
}

.flex-sect1,
.flex-sect3 {
    width: 32%;
    color: #605BE5;
    padding: 1.5em 2em;
}

.sect1-pay,
.sect2-pay,
.sect3-pay {
    font-weight: 900;
    font-size: 20px;
}

.sect1-pay span,
.sect3-pay span {
    color: gray;
    font-size: 14px;
    font-weight: 500;
}

.sect1-text,
.sect2-text,
.sect3-text {
    line-height: 24px;
}

.sect2-pay span {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.flex-sect2 {
    background-color: #605BE5;
    width: 32%;
    padding: 1.5em 2em;
    color: white;
    border-radius: .375em;
}

.sect1-point {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.sect1-point .point-pic img {
    display: block;
    margin: auto;
    background-color: white;
    border: 0px;
    border-radius: 50%;
    margin-right: .75em;
}

.sec1-btn1,
.sec3-btn3 {
    text-align: center;
    border: 2px solid #605BE5;
    padding: 1em 0;
    border-radius: 6px;
    margin-top: 1em;
    font-weight: 600;
}

.sec2-btn2 {
    text-align: center;
    border: 2px solid white;
    background-color: white;
    color: #605BE5;
    padding: 1em 0;
    border-radius: 6px;
    margin-top: 1em;
    font-weight: 600;
}

.third-img1 img {
    position: absolute;
    top: -2.5em;
    left: 20%;
}

.third-img2 img {
    position: absolute;
    top: -2.5em;
    right: 18%;
}

.third-img3 img {
    position: absolute;
    top: 4em;
    right: 12%;
}

.sect1-head,
.sect2-head,
.sect3-head {
    font-weight: 600;
}

.pagination {
    display: none;
}

.pagin{
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    border: 2px solid #605BE5;
    margin: 0 1em;
}
.pagin:active{
    background-color: #605BE5;
    scale: 1.2;
}
.set{
    display: none;
}

@media screen and (max-width: 768px) {
    .third {
        margin-top: 3em;
    }

    .third-head {
        display: none;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 3em 0;
    }
    .set{
        display: block;
        text-align: center;
    }
    .third-box{
        display: none;
    }
    .flex-sect1{
        display: block;
        width: auto;
    }

}